.login {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding-top: 35px; */
  padding-bottom: 50px;
  min-height: 100vh;
  margin-top: -5%;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
  border-radius: 10px;
}
.login__textBox {
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 8px;
  border: none;
  color: white;
  background-color: #191919;
  border-radius: 18px;
}
.login__google {
  /* background-color: #4285f4; */
  border-radius: 18px;
}
.login div {
  margin-top: 15px;
}
