.dashboard {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20%;
}
.dashboard__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 40px;
  border-radius: 15px;
}
.dashboard__btn {
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  border: none;
  color: white;
  background-color: black;
  border-radius: 15px;
}
.dashboard div {
  margin-top: 7px;
}
